/* Global Rules */

html {
    font: 16px "NewsGothicMT", Arial;
    text-align: left;
    color: #333
}

html b {
    font-family: "NewsGothicMT-bold"
}

html body {
    margin: 0;
    padding: 0
}

header {
    width: 100%;
    height: 60px;
    background-color: #364e8d;
    position: fixed;
    z-index: 10
}

header>img {
    width: 120px;
    height: 48.2px;
    margin: 5px 126px 0px 0px;
    float: right
}

/* Buttons */

.btn-primary,
.btn-secondary {
    display: block;
    outline: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    padding: 10px 19px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn-primary:hover,
.btn-secondary:hover {
    cursor: pointer
}

.btn-primary:disabled,
.btn-secondary:disabled {
    cursor: pointer
}

.btn-primary {
    background-image: linear-gradient(17deg, #496abf, #477bff);
    font-size: 16px;
    color: #fff
}

.btn-secondary {
    background-color: #fff;
    border: solid 1px #d9d9d9;
    font-size: 16px;
    color: #333
}

.btn-primary.btn-important,
.btn-secondary.btn-important {
    font-weight: bold
}

.btn-primary.btn-shadow,
.btn-secondary.btn-shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3)
}

/* Misc */

.separator-12,
.separator-22,
.separator-32 {
    box-sizing: border-box;
    width: 100%;
    height: 2px;
    border: solid 1px #d9d9d9
}

.separator-12 {
    margin: 12px 0px
}

.separator-22 {
    margin: 22px 0px
}

.separator-32 {
    margin: 32px 0px
}

.spoiler {
    display: block;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #496abf;
    text-decoration: none;
    margin: 21px 0px 0px
}

.spoiler-content.collapsed {
    max-height: 0;
    height: 0;
    overflow: hidden
}

/* Difficulty and Recommended Badges */

.difficulty {
    font: 10px "NewsGothicMT-bold";
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 6px;
    border-radius: 4px
}

.difficulty[data-difficulty='3'] {
    background: #36485c
}

.difficulty[data-difficulty='2'] {
    background: #cf041b
}

.difficulty[data-difficulty='1'] {
    background: #4a90e1
}

/* Image Gallery and Swiper Overwrites */

.gallery.swiper-container {
    margin: 0
}

.gallery .swiper-button-prev,
.gallery .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    background-image: none;
    top: 0;
    height: 100%;
    width: 75px;
    margin: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out
}

.gallery:hover .swiper-button-prev,
.gallery:hover .swiper-button-next {
    opacity: 1;
    pointer-events: all
}

.gallery .swiper-button-prev {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    left: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    background-size: 100%
}

.gallery .swiper-button-next {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    right: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-size: 100%
}

.gallery .swiper-pagination .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    width: 6px;
    height: 6px;
    margin: 2px 5px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    opacity: 0.8
}

.gallery .controls {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.gallery .controls .rslides_tabs {
    position: absolute;
    padding: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    list-style: none
}

.gallery .controls .rslides_tabs>li>a {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 50%;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0px 4px;
    cursor: pointer;
    color: transparent
}

.gallery .controls .rslides_tabs>li.rslides_here>a {
    background: #fff
}

.gallery .controls .rslides_nav.prev {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    left: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background-opacity: 0.7
}

.gallery .controls .rslides_nav.next {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    right: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background-opacity: 0.7
}

.gallery .controls .rslides_nav {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    top: 0
}

/* Subtype Symbols and Tags */

.tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

.tags>span {
    margin: 0px 3px;
    display: inline-flex
}

.tags .default::before {
    font: 10px "NewsGothicMT-bold";
    text-align: center;
    color: #272727;
    background: #e7e7e7;
    padding: 3px 6px;
    border-radius: 4px;
    content: attr(data-tag)
}

.symbol {
    width: 28px;
    height: 28px;
    background-size: 100%
}

.type {
    font: 12px "NewsGothicMT-bold";
    text-transform: uppercase;
    letter-spacing: 0.5px
}

.type.Wanderung {
    color: #bf225f
}

.type.Fernwanderweg {
    color: #A63F3F
}

.type.Themenweg {
    color: #bf9622
}

.type.Bergtour {
    color: #364e8d
}

.type.Hochtour {
    color: #3F8FA6
}

.type.Jogging {
    color: #7449BF
}

.type.Klettersteig {
    color: #3FA689
}

.type.Langlauf {
    color: #496ABF
}

.type.Mountainbike {
    color: #734815
}

.type.Nordic-Walking {
    color: #A67B3F
}

.type.Pferdeschlitten {
    color: #BF9622
}

.type.Rodeln {
    color: #496ABF
}

.type.Skitour {
    color: #354E8C
}

.type.Trailrunning {
    color: #7449BF
}

.type.Winterwandern {
    color: #496ABF
}

.content .stats-flash {
    font-size: 13.3px;
    letter-spacing: -0.4px;
    color: #333
}

.content .stats-flash .stat {
    display: inline-block
}

.content .stats-flash .stat .icon {
    color: #aeaeae;
    margin: 0px 5px 0px 8px
}

.content .stats-flash .stat:first-child .icon {
    color: #aeaeae;
    margin-left: 0
}

.content .stats-table .icon {
    color: #aeaeae;
    margin: 0px 8px 0px 0px
}

.content .stats-table .icon .icon-distance {
    font-size: 13px;
    margin-right: 3px
}

.content .module .tags {
    margin: 20px 0px
}

.content .module .tags span {
    padding: 3px
}

.content .stats-flash .value,
.content .stats-table .value {
    font-family: "NewsGothicMT-bold"
}

.mtk-infowindow .stats-flash {
    font-size: 11px;
    letter-spacing: -0.4px;
    color: #333
}

.mtk-infowindow .stats-flash .stat {
    display: inline-block
}

.mtk-infowindow .stats-flash .stat .icon {
    color: #aeaeae;
    margin: 0px 2px 0px 8px
}

.mtk-infowindow .stats-flash .stat:first-child .icon {
    color: #aeaeae;
    margin-left: 0
}

.mtk-infowindow .stats-flash .stat .icon .icon-duration {
    font-size: 13px
}

.mtk-infowindow .stats-table .icon {
    color: #aeaeae;
    margin: 0px 8px 0px 0px
}

.mtk-infowindow .stats-table .icon .icon-distance {
    font-size: 11px;
    margin-right: 3px
}

.mtk-infowindow .module .tags {
    margin: 20px 0px
}

.mtk-infowindow .module .tags span {
    padding: 3px
}

.mtk-infowindow .stats-flash .value,
.mtk-infowindow .stats-table .value {
    font-family: "NewsGothicMT-bold"
}

.mtk-infowindow .title {
    margin: 6px 0;
    font-family: "NewsGothicMT-bold"
}

html,
body {
    height: 100%
}

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 60px
}

.wrapper.no-map #app .content {
    width: 100%
}

.wrapper.no-map .right {
    margin-right: -100%;
    overflow: hidden
}

.header {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 160px;
    background: #fff;
    z-index: 10
}

.content {
    height: 100%;
    margin: 150px 510px 10px 0px;
    padding: 0 10px;
    width: calc(100% - 520px)
}

.right {
    position: fixed;
    top: 220px;
    bottom: 10px;
    right: 10px;
    width: 500px
}

#map {
    width: 100%;
    height: 100%
}

.header h1 {
    font-size: 38px;
    color: #333;
    font-weight: 100;
    letter-spacing: -1;
    margin: 0;
    padding: 20px 20px 0
}

.header .filters {
    position: relative;
    display: block;
    margin: 0px 15px;
    align-items: center;
    box-sizing: border-box
}

.header .filters button {
    margin: 0px 5px;
    display: inline-block
}

.header .filters .map-show-toggle {
    float: right
}

.content .list .element {
    position: relative;
    width: calc(33% - 20px);
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer
}

.no-map .content .list .element {
    width: calc(25% - 20px)
}

@media only screen and (max-width:1500px) {
    .content .list .element {
        width: calc(50% - 20px)
    }
    .no-map .content .list .element {
        width: calc(33% - 20px)
    }
}

@media only screen and (max-width:1200px) {
    .content .list .element {
        width: calc(100% - 20px)
    }
    .no-map .content .list .element {
        width: calc(50% - 20px)
    }
}

@media only screen and (max-width:900px) {
    .content .list .element,
    .no-map .content .list .element {
        width: calc(100% - 20px)
    }
    .right {
        width: 350px
    }
    .content {
        margin: 150px 360px 10px 0px;
        width: calc(100% - 370px)
    }
}

@media only screen and (max-width:900px) {
    .content .list .element {
        width: calc(100% - 20px)
    }
    .filters .map-show-toggle,
    .right {
        margin-right: -100%;
        overflow: hidden
    }
    .content {
        margin: 150px 10px 10px 0px;
        width: calc(100% - 20px)
    }
}

.content .list .element .gallery {
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    height: 261px
}

.content .list .element .title {
    margin: 2px 0 6px;
    font-family: "NewsGothicMT-bold"
}

.content .list .element .data {
    font-size: 13.3px
}

.content .list .element .tags {
    position: absolute;
    top: 8px;
    left: 8px;
    margin: 0;
    z-index: 5
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 12px
}

.pagination span {
    margin: 3px 5px;
    color: #477bff;
    cursor: pointer
}

.pagination>.actual,
.pagination>.prevnext {
    font-family: "NewsGothicMT-bold";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #477bff;
    color: #fff;
    line-height: 30px;
    text-align: center
}

.pagination>.prevnext {
    font-weight: bold;
    font-size: 11px;
    cursor: pointer
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table
}

.modal-innermask {
    position: fixed;
    z-index: 9997;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: opacity .3s ease
}

.modal-wrapper {
    display: table-cell;
    position: absolute
}

.modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif
}

.modal-body {
    margin: 20px 0;
    white-space: normal
}

.modal-footer span {
    text-align: right;
    cursor: pointer;
    color: #496abf;
    font-family: "NewsGothicMT-bold"
}

.modal-enter {
    opacity: 0
}

.modal-leave-active {
    opacity: 0
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.modal-body h3 {
    font-size: 16px;
    margin-bottom: 15px
}

.modal-body p {
    font-size: 14px;
    margin-bottom: 18px
}

.gallery {
    max-height: 350px;
    overflow: hidden;
    width: 933px
}

.gallery .slides .slide {
    background: #222;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center
}

.gallery .slides .slide img {
    object-fit: cover;
    width: 100%;
    height: 100%
}

.gallery .slides .slide.swiper-slide-active {
    z-index: 99
}

.gallery .swiper-button-prev i,
.gallery .swiper-button-next i {
    transition: all .2s ease
}

.gallery .swiper-button-prev:hover i,
.gallery .swiper-button-next:hover i {
    color: #eee;
    transform: rotateY(40deg)
}

.gallery:hover .swiper-button-prev i,
.gallery:hover .swiper-button-next i {
    pointer-events: none
}

.gallery .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-prev,
.gallery .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-prev-prev,
.gallery .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-next,
.gallery .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-next-next {
    transform: scale(1)
}

.gallery .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    opacity: 1
}

.gallery.swiper-container .swiper-pagination {
    bottom: 0;
    height: 20px
}

.gallery .swiper-pagination-background {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
    opacity: 0.7;
    height: 35px;
    width: 100%;
    z-index: 1
}

html:not([dir="rtl"]) #app .noUi-horizontal .noUi-handle {
    right: -17px;
    left: auto
}

#app .noUi-horizontal .noUi-handle {
    width: 34px;
    height: 34px;
    left: -17px;
    top: -14px
}

#app .noUi-handle {
    border: solid 1px #496abf;
    border-radius: 50%;
    background-color: #fff;
    cursor: default;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer
}

#app .noUi-target {
    background: #d9d9d9;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    margin: 30px 0px
}

#app .noUi-handle:focus {
    outline: 0
}

#app .noUi-handle:before,
#app .noUi-handle:after {
    content: none
}

#app .noUi-horizontal {
    height: 7px
}

#app .noUi-connect {
    background: #487cfe
}

.filter-title {
    font-family: "NewsGothicMT-bold";
    margin: 0 5px 0 0
}

.filter-checkbox {
    display: flex;
    align-items: center;
    margin: 0 0 10px
}

.checkbox {
    position: relative;
    margin: 0 5px
}

.checkbox input {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer
}

.checkbox-label {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.checkbox-primary.checkbox {
    width: 20px;
    height: 19px
}

.checkbox-primary.checkbox:before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 19px;
    background: url("../images/symbols/checkbox-unticked.svg") center/100% 100% no-repeat;
    transition: background .3s ease
}

.checkbox-primary.checkbox.checked:before {
    background: url("../images/symbols/checkbox-ticked.svg") center/100% 100% no-repeat
}

.checkbox-switch.checkbox:before {
    content: "";
    display: inline-flex;
    width: 56px;
    height: 35px;
    background: url("../images/symbols/switch-off.svg");
    transition: background .3s ease
}

.checkbox-switch.checkbox.checked:before {
    background: url("../images/symbols/switch-on.svg")
}

.map-show-toggle {
    display: flex;
    align-items: center
}

.map-show-toggle label {
    margin: 0 10px 0 0
}

.map-refresh-toggle-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

.map-refresh-toggle-wrapper>.map-refresh-toggle {
    display: flex;
    font-size: 13px;
    width: fit-content;
    background: #fff;
    z-index: 999;
    padding: 12px;
    border-radius: 4px;
    border: solid 1px #d9d9d9;
    align-items: center;
    margin: 10px 0 0
}

.map-refresh-toggle-wrapper .map-refresh-toggle input[type='checkbox'] {
    margin: 0 6px 0 0
}

.map-refresh-toggle-wrapper .map-refresh-toggle input[type='checkbox'],
.map-refresh-toggle-wrapper .map-refresh-toggle .checkbox.checkbox-primary,
.map-refresh-toggle-wrapper .map-refresh-toggle .checkbox.checkbox-primary:before {
    width: 15px;
    height: 14px
}

.map-refresh-toggle-wrapper .map-refresh-toggle .checkbox.checked:before {
    background: url("../images/symbols/checkbox-ticked-inverted.svg") center/100% 100% no-repeat
}

.mtk-map .leaflet-control-zoom.leaflet-bar.leaflet-control .leaflet-control-zoom-in,
.mtk-map .leaflet-control-zoom.leaflet-bar.leaflet-control .leaflet-control-zoom-out {
    color: #3d63c4;
    padding: 4px;
    font-size: 28px
}

.mtk-map .leaflet-control-zoom.leaflet-bar.leaflet-control {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #d9d9d9
}

.leaflet-marker-icon {
    background-position: center !important;
    background-size: 100% !important
}

.content .list .element.list-placeholder {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.content .list .element.list-placeholder .gallery {
    background: #ccc
}

.content .list .element.list-placeholder .type,
.content .list .element.list-placeholder .title {
    color: transparent;
    background: #ccc;
    border-radius: 4px
}

.content .list .element.list-placeholder .stats-flash .stat .unit,
.content .list .element.list-placeholder .stats-flash .stat .value {
    color: transparent
}

.modal-mask[data-type='subtype'] .filter-checkbox {
    display: inline-flex;
    width: 49%;
    flex-wrap: wrap
}

#map.highlighting-markers .leaflet-marker-icon {
    filter: grayscale(1);
    opacity: 0.5 !important
}

#map.highlighting-markers .leaflet-marker-icon.highlighted-marker {
    filter: grayscale(0);
    opacity: 1 !important
}

@media only screen and (max-width:768px) {
    header {
        display: flex;
        align-items: center;
        justify-content: center
    }
    header img {
        margin: 0;
        float: unset
    }
    .gallery .swiper-button-prev,
    .gallery .swiper-button-next {
        display: none
    }
    .modal-container {
        position: fixed;
        width: calc(100% - 20px);
        height: calc(100% - 20px - 85px);
        top: 10px;
        left: 10px;
        box-sizing: border-box;
        z-index: 99999;
        overflow: auto
    }
    .modal-mask {
        background-color: rgba(255, 255, 255, 0.5)
    }
    .modal-mask .modal-innermask {
        background: none
    }
    .header .list-resultnumber {
        display: none
    }
    .map-show-toggle {
        display: none
    }
    .header {
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1)
    }
    .header h1 {
        padding: 0;
        font-size: 25px
    }
    .header .separator-12 {
        display: none
    }
    .content {
        margin-top: 65px;
        margin-bottom: 95px
    }
    .header .filters {
        display: flex;
        height: 85px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        background: #fff;
        padding: 0 15px;
        margin: 0;
        white-space: nowrap;
        overflow: auto;
        box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.1);
        z-index: 99999
    }
}